In [2]:
import pandas as pd
import numpy as np

data=pd.read_csv('Bengaluru_House_Data.csv')
data.head()
data.shape
data.info()
data.isna().sum()

FileNotFoundError: [Errno 2] No such file or directory: 'Bengaluru_House_Data'

In [1]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

NameError: name 'data' is not defined

In [2]:
data.describe()

NameError: name 'data' is not defined

In [3]:
data['location'].value_counts()

NameError: name 'data' is not defined

In [4]:
data['location']=data['location'].fillna('Sarjapur Road')

NameError: name 'data' is not defined

In [5]:
data['size'].value_counts()

NameError: name 'data' is not defined

In [6]:
data['size']=data['size'].fillna('2 BHK')

NameError: name 'data' is not defined

In [8]:
data['bath']=data['size'].fillna(data['bath'].median())

In [9]:
data['bhk'] = data['size'].str.split().str.get(0).fillna(0).astype(int)
data[data.bhk>20]

                       location        size total_sqft        bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000      27 BHK  230.0   27
4684                Munnekollal  43 Bedroom       2400  43 Bedroom  660.0   43

In [10]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [11]:
def convertRange(x):
 temp=x.split('-')
 if len(temp)==2:
        return(float(temp[0]) + float(temp[1]))/2
 try :
        return float(x)
 except:
        return None

In [12]:
data['total_sqft'] = data['total_sqft'].apply(convertRange)

In [13]:
data.head()

                   location       size  total_sqft       bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0      2 BHK   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0  4 Bedroom  120.00    4
2               Uttarahalli      3 BHK      1440.0      3 BHK   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0      3 BHK   95.00    3
4                  Kothanur      2 BHK      1200.0      2 BHK   51.00    2

In [14]:
data['price_per_sqft'] = data['price'] * 100000 / data['total_sqft']
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [15]:
data.describe()

         total_sqft         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694    112.565627      2.802778    7.907501e+03
std     1238.405258    148.971674      1.294496    1.064296e+05
min        1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000    120.000000      3.000000    7.311746e+03
max    52272.000000   3600.000000     43.000000    1.200000e+07

In [16]:
data['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: count, Length: 1306, dtype: int64

In [17]:
data['location']=data['location'].apply(lambda x: x.strip())
location_count=data['location'].value_counts()

In [18]:
location_count_less_10 = location_count[location_count<=10]
location_count_less_10

location
BTM 1st Stage                         10
Nagadevanahalli                       10
Basapura                              10
Sector 1 HSR Layout                   10
Dairy Circle                          10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: count, Length: 1054, dtype: int64

In [19]:
data['location']=data['location'].apply(lambda x:'other' if x in location_count_less_10 else x)

In [20]:
data['location'].value_counts()

location
other                 2886
Whitefield             541
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

In [21]:
data.describe()

         total_sqft         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694    112.565627      2.802778    7.907501e+03
std     1238.405258    148.971674      1.294496    1.064296e+05
min        1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000    120.000000      3.000000    7.311746e+03
max    52272.000000   3600.000000     43.000000    1.200000e+07

In [22]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [23]:
data=data[((data['total_sqft']/data['bhk'])>=300)]
data.shape

(12530, 7)

In [24]:
 data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [25]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        gen_df = subdf[(subdf.price_per_sqft > (m - st)) & (subdf.price_per_sqft <= (m + st))]
        df_output = pd.concat([df_output, gen_df], ignore_index=True)

    return df_output

data = remove_outliers_sqft(data)
data.describe()

         total_sqft         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608     91.286372      2.574896     5659.062876
std      880.694214     86.342786      0.897649     2265.774749
min      300.000000     10.000000      1.000000     1250.000000
25%     1110.000000     49.000000      2.000000     4244.897959
50%     1286.000000     67.000000      2.000000     5175.600739
75%     1650.000000    100.000000      3.000000     6428.571429
max    30400.000000   2200.000000     16.000000    24509.803922

In [26]:
def bhk_outlier_remover(df):
    exclude_indices=np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats={}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk]={
                'mean':np.mean(bhk_df.price_per_sqft),
                'std':np.std(bhk_df.price_per_sqft),
                'count':bhk_df.shape[0]
            }
        for bhk,bhk_df in location_df.groupby('bhk'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)

    return df.drop(exclude_indices,axis='index')

In [27]:
data=bhk_outlier_remover(data)

In [28]:
data.shape

(7361, 7)

In [29]:
data

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4 BHK,428.0,4,15017.543860
1,1st Block Jayanagar,3 BHK,1630.0,3 BHK,194.0,3,11901.840491
2,1st Block Jayanagar,3 BHK,1875.0,3 BHK,235.0,3,12533.333333
3,1st Block Jayanagar,3 BHK,1200.0,3 BHK,130.0,3,10833.333333
4,1st Block Jayanagar,2 BHK,1235.0,2 BHK,148.0,2,11983.805668
...,...,...,...,...,...,...,...
10292,other,2 BHK,1200.0,2 BHK,70.0,2,5833.333333
10293,other,1 BHK,1800.0,1 BHK,200.0,1,11111.111111
10296,other,2 BHK,1353.0,2 BHK,110.0,2,8130.081301
10297,other,1 Bedroom,812.0,1 Bedroom,26.0,1,3201.970443
10300,other,4 BHK,3600.0,4 BHK,400.0,4,11111.111111

In [30]:
data.drop(columns=['size','price_per_sqft','bath'],inplace=True)

In [31]:
data.head()

              location  total_sqft  price  bhk
0  1st Block Jayanagar      2850.0  428.0    4
1  1st Block Jayanagar      1630.0  194.0    3
2  1st Block Jayanagar      1875.0  235.0    3
3  1st Block Jayanagar      1200.0  130.0    3
4  1st Block Jayanagar      1235.0  148.0    2

In [32]:
data.to_csv("Cleaned_data.csv")

In [33]:
x=data.drop(columns=['price'])
y=data['price']

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=0)

In [36]:
print(x_train.shape)
print(x_test.shape)

(5888, 3)
(1473, 3)

In [37]:
data

                  location  total_sqft  price  bhk
0      1st Block Jayanagar      2850.0  428.0    4
1      1st Block Jayanagar      1630.0  194.0    3
2      1st Block Jayanagar      1875.0  235.0    3
3      1st Block Jayanagar      1200.0  130.0    3
4      1st Block Jayanagar      1235.0  148.0    2
...                    ...         ...    ...  ...
10292                other      1200.0   70.0    2
10293                other      1800.0  200.0    1
10296                other      1353.0  110.0    2
10297                other       812.0   26.0    1
10300                other      3600.0  400.0    4

[7361 rows x 4 columns]

In [38]:
columns_trans = make_column_transformer(
    (OneHotEncoder(sparse_output=False), ['location']),
    remainder='passthrough'
)
scaler=StandardScaler()
lr=LinearRegression()
# Create a pipeline with column transformer, standard scaler, and linear regression
pipe = make_pipeline(columns_trans,scaler,lr)

# Fit the entire pipeline on the training data
pipe.fit(x_train, y_train)

# Predict using the fitted pipeline
y_pred_lr = pipe.predict(x_test)

# Print the R-squared score
print("R-squared score:", r2_score(y_test, y_pred_lr))

R-squared score: 0.8217243319406036

In [39]:
lasso=lasso()

float64

In [ ]:
pipe=make_pipeline(column_trans,scaler,lasso)

In [40]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [41]:
y_pred_lasso=pipe.predict(x_test)
r2_score(y_test,y_pred_lasso)

0.8217243319406036

In [ ]:
ridge=Ridge()

In [ ]:
pipe=make_pipeline(column_trans,scaler,ridge)

In [ ]:
pipe.fit(x_train,y_train)

In [44]:
y_pred_ridge=pipe.predict(x_test)
r2_score(y_test,y_pred_ridge)

0.8217243319406036

In [46]:
print("no Regularization",r2_score(y_test,y_pred_lr))
print("Lasso",r2_score(y_test,y_pred_lasso))
print("Ridge",r2_score(y_test,y_pred_ridge))

no Regularization 0.8217243319406036
Lasso 0.8217243319406036
Ridge 0.8217243319406036

In [47]:
import pickle

pickle.dump(pipe,open('RidgeModel.pk','wb'))